@import url("reset.css");
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  position: relative; /* Relative positioning for the pseudo-element */
  min-height: 100vh; /* Ensure body covers viewport height */
}

body:before {
  content: "";
  position: fixed; /* Fixed position to cover the viewport even when scrolling */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
      circle at 50% 0,
      rgba(53, 135, 152, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    radial-gradient(
      circle at 6.7% 75%,
      rgba(34, 34, 173, 0.8),
      rgba(0, 0, 255, 0) 70.71%
    ),
    radial-gradient(
      circle at 93.3% 75%,
      rgba(154, 64, 190, 0.8),
      rgba(0, 255, 0, 0) 70.71%
    );
  z-index: -1; /* Ensure the background is behind the content */
}

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 2%;
  height: 90vh;
  z-index: 2;
  padding: 10%;
  padding-top: 0px;
}
#loading-screen {
  position: fixed;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.area {
  background-color: rgba(206, 206, 206, 0.25);
}
.toggle-container {
  display: flex;
  align-items: center;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #4caf50; /* Apple-style green */
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider:active:before {
  width: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.location {
  color: white;
}
.current-weather {
  background-color: rgba(206, 206, 206, 0.288);
  height: 40%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
}
.next {
  background-color: rgba(206, 206, 206, 0.288);
  width: 100%;
  height: 400px;
  position: relative;
}
.following-days {
  background-color: rgba(206, 206, 206, 0.288);
}
.section {
  margin: 20px;
  width: 80%;
}
.graph {
  width: 100%;
  height: 100%;
}
.current-tt {
  display: flex;
}

.right {
  display: flex;
  flex-direction: column;
}
.precipitation {
  display: flex;
}

.left,
.right {
  margin: 5%;
}

.precip-prop {
  padding-left: 5px;
}
